html,
body {
    margin: 0;
    padding: 0;
    height: 200vh;
    overflow-x: hidden;
}

.background {
    /*background-image: url("../img/source/mountain range.jpg");*/
    background-size: cover;
    background-position: 50% 50%;
    height: 200vh;
    font: 900 22vw '';
    line-height: 57vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.background::before {
    content: '';
    background-size: cover;
    background-image: inherit;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -99;
}

h2 {
    position: absolute;
    letter-spacing: 2px;
    font-size: 1.3vw;
    top: 45vw;
    width: 60%;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    padding: 2vw;
    background-color: rgba(0, 0, 0, 0.3);
}
.phone {
    display: none;
}
